<div class="container">
  <div class="row mt-3">
    <div class="col-xl-4 d-flex mb-4 m-xl-0 justify-content-center">
      <i class="fa-solid fa-user pe-5 fs-5"></i>
      <i class="fa-solid fa-basket-shopping position-relative pe-5 fs-5"></i>
      <i class="fa-solid fa-heart pe-5 fs-5"></i>
    </div>
    <div class="col-xl-4 ">
      <ul class="d-flex align-items-center justify-content-around">
        <li class="active-color">الرئيسيه</li>
        <li>من نحن</li>
        <li>كل المغاسل</li>
        <li>جميع العروض</li>
      </ul>
    </div>
    <div class="col-xl-4 text-right">
      <h5 class="">Clean Drive</h5>
    </div>
  </div>
</div>
