
.text-right{
  text-align: right;
}

.text-hilight {
  background: linear-gradient(90deg, #0a8f9a, #04a59e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-custem-btn{
  background:linear-gradient(#0a8f9a,#04a59e) ;
}

.cutem-position{
  right: 15px;
  color: #0a8f9a;
}

.small-size{
  font-size: 13px;
}

.property-flex{
  display: flex;
  flex-wrap: wrap;
}

.property-flex .card{
width: 30%;
}
::ng-deep.p-dropdown {
  background: #ffffff;
   border: 0px ;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}
::ng-deep.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #6b7280;
  width: 3rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
}

::ng-deep.p-paginator .p-dropdown .p-dropdown-label {
  padding-right: 0;
  display: none;
}
img{
  cursor: pointer;
}

@media(min-width:320px) and (max-width:767px){
  .property-flex .card{
    width: 100% !important;
    }
 }


 @media(min-width:767px) and (max-width:1200px){
  .property-flex .card{
    width: 100% !important;

    }
 }


 @media(min-width:1200px) and (max-width:1400px){
  .property-flex .card{
    width: 30% !important;
    }
 }
