<div>
  <div class="container">
    <div dir="rtl" class="d-flex flex-wrap align-items-center justify-content-between p-2   mt-5 background-light">
      <div class="d-flex align-items-center mb-2">
        <div>
          <i class="fa-solid fa-envelope p-2 text-light text-center rounded-circle cutem-property-icon"></i>
        </div>

        <div class="pe-3">
          <p class="p-0 m-0">الاشتراك في النشره البريديه</p>
          <p class="p-0 m-0">انضم الان واحصل علي خصم 10%علي مشترياتك التاليه</p>
        </div>
      </div>

      <div class="mt-2">
        <div>
          <p>يمكنك الغاء الاشتراك في اي لحظه</p>
        </div>
        <div class="w-100 text-center">
          <input class="p-1 border-0" placeholder="ادخل البريد الالكتروني" />
          <button class="border-0 p-1 text-light  me-1 custem-background-btn">اشتراك</button>
        </div>
      </div>

      <div class="d-flex gap-1 mt-4">
        <div class="d-flex align-items-center bg-dark text-light rounded-1 p-1">
          <div class="small-size">
            <p class="p-0 m-0">DownLoad On The</p>
            <p class="p-0 m-0 text-center">App Store</p>
          </div>
          <div>
            <i class="fa-brands fa-apple pe-2 fs-4"></i>
          </div>
        </div>
        <div class="d-flex align-items-center bg-dark text-light rounded-1 p-1">
          <div class="small-size">
            <p class="p-0 m-0">DownLoad On The</p>
            <p class="p-0 m-0 text-center">App Store</p>
          </div>
          <div>
            <i class="fa-brands fa-apple pe-2 fs-4"></i>
          </div>
        </div>
      </div>
    </div>





    <div class="row justify-content-center text-secondary p-1 mt-3" dir="rtl">

      <div class="col-6 col-sm-6 col-xl-3 mt-2">
        <h6 class="fw-bold">عن متجرنا</h6>
        <p>متجر لك من افضل المتاجر التي تقوم ببيع المنتجات الرقميه بافضل الاسعار وماركات عالميه تسوق الان واطلع علي مزيد
          من التفاصيللل واستمتع بافضل العروضات والخصوملت</p>
      </div>

      <div class="col-6 col-sm-6 col-xl-2 mt-2">
        <h6 class="fw-bold fw-bold text-dark">حسابي</h6>
        <p><i class="fa-solid fa-angles-left p-1"></i>حسابي</p>
        <p><i class="fa-solid fa-angles-left p-1"></i>طلباتي</p>
        <p><i class="fa-solid fa-angles-left p-1"></i>سله المشتريات</p>
        <p><i class="fa-solid fa-angles-left p-1"></i>المفضله </p>
      </div>


      <div class="col-6 col-sm-6 col-xl-2 mt-2">
        <h6 class="fw-bold fw-bold text-dark">روابط مهمه</h6>
        <p><i class="fa-solid fa-angles-left p-1"></i>من نحن</p>
        <p><i class="fa-solid fa-angles-left p-1"></i>سياسه الخصوصيه</p>
        <p><i class="fa-solid fa-angles-left p-1"></i>الشروط والاحكام </p>
        <p><i class="fa-solid fa-angles-left p-1"></i>الدعم الفني </p>
      </div>

      <div class="col-6 col-sm-6 col-xl-2 mt-2">
        <h6 class="fw-bold fw-bold text-dark">تواصل معنا</h6>
        <p><i class="fa-solid fa-angles-left"></i>موبايل</p>
        <p>+264779595999</p>
        <p><i class="fa-solid fa-angles-left"></i> البريد الالكتروني</p>
        <p>asmaa.gmail.com </p>
      </div>


      <div class="col-6 col-sm-6 col-xl-3 mt-2 mb-3">
        <h6 class="fw-bold ps-3 pe-3 fw-bold text-dark">تابعنا علي</h6>
        <div class="icon-property">
          <i class="fa-brands fa-facebook-f rounded-circle text-center me-2"></i>
          <i class="fa-brands fa-twitter text-light rounded-circle text-center me-2"></i>
          <i class="fa-brands fa-instagram rounded-circle text-center me-2"></i>
          <i class="fa-solid fa-bell rounded-circle me-2 text-center"></i>
        </div>

      </div>
    </div>



  </div>
  <div class="bg-dark d-flex justify-content-around h-25 pt-3">
    <div>
      <img src="../../../../assets/img/52656b9f-5cb7-416f-8e12-f8cb39d3b734.png.slim.webp" class="me-1" width="40" height="20" />
      <img src="../../../../assets/img/28a227c9-37e6-4a82-b23b-0ad7814feed1.png.slim.webp" class="me-1" width="40" height="20" />
      <img src="../../../../assets/img/52656b9f-5cb7-416f-8e12-f8cb39d3b734.png.slim.webp" class="me-1" width="40" height="20" />
      <img src="../../../../assets/img/f1c00d04-7dde-4d4a-ae3d-b8aad2de8f96.png.slim.webp" class="me-1" width="40" height="20" />
    </div>

    <div class="text-light">
      <p>© الحقوق محفوظه في كلين درايف</p>
    </div>
  </div>
