<app-header></app-header>
<div class="text-light d-flex justify-content-center align-items-center flex-column mt-5 cutem-style">
  <div>
    <h1 class="d-flex justify-content-center fontSize fw-bold">قائمه المغاسل</h1>
  </div>
  <div class=" w-100 d-flex justify-content-center fs-5 align-items-center mt-5">
    <p class="ms-4">قائمه المغاسل</p>
    <p class="ms-4"><i class="fa-solid fa-chevron-left"></i></p>
    <p class="ms-4"> <i class="fa-solid fa-house"></i></p>
  </div>
</div>

<app-services></app-services>
<app-dilog-update></app-dilog-update>
<app-footer></app-footer>
